<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sillenceSoft.schedulleCall.Repository.AccessRepository">
    <select id="getAccessList" parameterType="Integer" resultType="sillenceSoft.schedulleCall.Dto.UserDto">
        select *
        from User
        join Access
        ON User.userNo = Access.accessUserNo
        WHERE Access.userNo = ${userNo};
    </select>


    <insert id="saveAccess">
        insert into Access(accessUserNo, userNo) values (${accessUserNo}, ${userNo});
    </insert>

    <delete id="deleteAccess">
        delete from Access where accessUserNo = ${accessUserNo} and userNo = ${userNo} ;
    </delete>

    <select id="checkAccessOrNot" resultType="Integer">
        select a.userNo
        from (select userNo from User where phone=#{phone}) as a
        join Access as b
        on a.userNo = b.userNo
        WHERE b.accessUserNo = ${userNo};
    </select>
</mapper>