<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sillenceSoft.schedulleCall.Repository.ScheduleRepository">
    <insert id="addSchedule" useGeneratedKeys="true" keyProperty="schedule.scheduleNo">
        insert into Schedule(userNo, modDt, week, status, startHour, startMinute, endHour, endMinute)
        values (${userNo}, #{schedule.modDt}, ${schedule.week}, #{schedule.status}, ${schedule.startTime.hour}, ${schedule.startTime.minute}, ${schedule.endTime.hour}, ${schedule.endTime.minute});
    </insert>

    <delete id="deleteSchedule">
        delete from Schedule where scheduleNo =  ${scheduleNo}
    </delete>

    <select id="getSchedule" resultType="map">
        select * from Schedule where userNo = ${userNo};
    </select>

    <select id="getScheduleStatus" resultType="Integer">
        select b.statusNo
        from Schedule as a
        join Status as b
        on a.status = b.status
        where a.week=${week} and ${hour} between a.startHour and a.endHour and ${minute} between a.startMinute and a.endMinute
        and b.userNo=${userNo};
    </select>
</mapper>