<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sillenceSoft.schedulleCall.Repository.StatusRepository">
    <select id="getAllStatus" parameterType="Integer" resultType="map" >
        select  * from Status where userNo=${userNo} ;
    </select>

<!--    <select id="getStatus" parameterType="Integer"-->
<!--            resultType="List">-->
<!--        select status from Status where userNo=${userNo};-->
<!--    </select>-->

    <insert id="addStatus" parameterType="sillenceSoft.schedulleCall.Dto.StatusDto"
            useGeneratedKeys="true" keyProperty="statusNo" >
        insert into Status(userNo, status, ModDt, isFromSchedule) values (${statusDto.userNo}, #{statusDto.status}, #{statusDto.modDt},
        #{statusDto.isFromSchedule});
<!--        <selectKey resultType="Integer" keyProperty="statusNo" keyColumn="statusNo" order="AFTER">-->
<!--            SELECT LAST_INSERT_ID()-->
<!--        </selectKey>-->
    </insert>

    <delete id="deleteStatus" parameterType="Integer">
        delete from Status where statusNo = ${statusNo};
    </delete>


    <update id="updateStatus" >
        update Status set status = #{status}, modDt = #{modDt} where statusNo = ${statusNo};
    </update>



    <select id="getAllOthersStatus" resultType="sillenceSoft.schedulleCall.Dto.StatusResponseDto">
        select b.status, a.phone
        from (select statusNo, phone
            from Access as a
            join User as b
            on a.userNo = b.userNo
            where a.accessUserPhone = #{phone}
            and b.statusOn = true) as a
        join Status as b
        on a.statusNo = b.statusNo;
    </select>

    <select id="checkIfPresent" resultType="Integer">
        select count(statusNo)
        from Status
        where status = #{status} and userNo=${userNo};
    </select>

    <select id="checkIsFromSchedule" resultType="boolean">
        select isFromSchedule from Status where statusNo = ${statusNo};
    </select>


</mapper>