<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="sillenceSoft.schedulleCall.Repository.UserRepository">
    <insert id="login"
            parameterType="sillenceSoft.schedulleCall.Dto.UserDto"
            useGeneratedKeys="true" keyProperty = "userNo">
        insert into User (id, phone, social, regTime, statusNo, statusOn, statusState) values
        (#{userDto.id}, #{userDto.phone}, #{userDto.social}, #{userDto.regTime}, #{userDto.statusNo},
        #{userDto.statusOn}, #{userDto.statusState});
    </insert>

    <update id="updateLoginTime">
        update User set regTime =#{regTime} where id=#{id} and social=${social};
    </update>

    <select id="findById"
            parameterType="String"
            resultType="sillenceSoft.schedulleCall.Dto.UserDto">
        select * from User where id= #{id};
    </select>

    <select id="getUserNoById"
            parameterType="String"
            resultType="Long">
        select userNo from User where id=#{id} order by regTime desc limit 1;
    </select>

    <update id="setNowStatus">
        update User set statusNo = ${statusNo} where userNo = ${userNo};
    </update>

    <update id="setStatusOn">
        update User set statusOn = true where userNo = ${userNo};
    </update>

    <update id="setStatusOff">
        update User set statusOn = false where userNo = ${userNo};
    </update>

    <select id="findByPhone" resultType="Long">
        select userNo from User where phone=#{phone} order by regTime desc limit 1;
    </select>

    <update id="cancelNowStatus">
        update User set statusNo = null where userNo=${userNo}
    </update>

    <select id="getStatusNo" resultType="Long">
        select statusNo from User where userNo=${userNo};
    </select>

    <select id="getStatusOnAndPhone" resultType="map">
        select phone, statusOn from User where userNo=${userNo};
    </select>

    <select id="getNowStatusAndPhone" resultType="sillenceSoft.schedulleCall.Dto.StatusResponseDto">
        select b.status, a.phone
        from Status as b
        join User as a
        on a.statusNo = b.statusNo
        where a.userNo=${userNo} ;
    </select>

    <select id="getStatusOn" resultType="boolean">
        select statusOn from User where userNo = ${userNo};
    </select>

    <select id="getNowStatus" resultType="Long">
        select statusNo from User where userNo=${userNo};
    </select>

    <select id="findByIdAndSocial" resultType="sillenceSoft.schedulleCall.Dto.UserDto">
        select * from User where id= #{id} and social=#{social};
    </select>

    <select id="getStatusState" resultType="String">
        select statusState from User where userNo=${userNo};
    </select>

    <update id="setStatusState">
        update User set statusState = '1' where userNo = ${userNo};
    </update>

    <update id="cancelStatusState">
        update User set statusState = '0' where userNo = ${userNo};
    </update>

    <select id="getPhoneByUserNo" resultType="String">
        select phone from User where userNo = ${userNo} order by regTime desc limit 1;
    </select>

    <select id="getUserNoByPhone" resultType="Long">
        select userNo from User where phone=#{phone} order by regTime desc limit 1;
    </select>
</mapper>



